<div class="content">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">ADD CATEGORY</h5>
        </div>
        <div class="card-body">
          <form [formGroup]="categoriesAddForm">
            <div class="mb-3 x">
              <label for="name">Enter New Category</label>
              <div class="form-group">
                <input type="text" id="name" formControlName="name" class="form-control" placeholder="CATEGORY NAME">
              </div>
            </div>
            <div class="mb-3 x">
              <label for="icon">Enter Icon Url</label>
              <div class="form-group">
                <input type="text" id="icon" formControlName="icon" class="form-control" placeholder="URL * NOT REQUİRED">
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <div class="d-grid gap-2 col-6 mx-auto">
            <button type="button" class="btn" (click)="add() ">ADD</button>
          </div>
        </div>
      </div>
    </div>
  </div>