<footer>
    <div class="header-wrapper">
    <img class="logo" src="/assets/img/pokeball.png" alt="Logo">
      <h3>Pokedex app made by Berkay Anduv.</h3>
    </div>
    <div class="social">
      <a href="https://github.com/sygrok" target="_blank"><img src="/assets/img/social/github.png" alt="GitHub Icon"></a>
      <a href="https://www.linkedin.com/in/berkayanduv/" target="_blank"><img src="/assets/img/social/linkedin.png" alt="LinkedIn Icon"></a>
      <a href="https://www.instagram.com/sygrok/" target="_blank"><img src="/assets/img/social/instagram.png" alt="Instagram Icon"></a>
      <a href="https://www.facebook.com/brk6767/" target="_blank"><img src="/assets/img/social/facebook.png" alt="Facebook Icon"></a>
    </div>
  </footer>